<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi <%= @user.username %>,
    <p>
      You're receiving this email because you reserved the following equipment at the MAD Service Desk:
      <ul>
        <% @booking.equipment.each do |e| %>
          <li><%= e.name %></li>
        <% end %>
      </ul>
      For the following dates and times:
      <ul>
        <% @booking.events.each do |e| %>
          <li><%= e.start.localtime.strftime("%B %d, %Y at %I:%M %p") %> to <%= e.end.localtime.strftime("%B %d, %Y at %I:%M %p") %></li>
        <% end %>
      </ul>
    </p>
    <p>
      Please arrive on time to pick up your equipment at the dates/times indicated. You are responsible for returning the equipment on time and in the same conidition that you picked it up in. You will be held responsible for any damages to the equipment while it is in your possession.
    </p>

    <p>If there are mistakes in the booking, or if you did not book this equipment, please let us know by replying to this email. Thank you.</p>
    <p>MAD</p>
  </body>
</html>