<div class="sidebar cell">
	<%= render 'shared/tag_list' %>
</div>

<div class="main cell">
	<%= render 'equipment/list' %>
</div>

<div class="booking cell">
	<%= render 'bookings/form' %>
	<a class="button">Book <span class="booking-count">1</span> items</a>
	<a class="button booking-clear right">Cancel</a>
</div>