<div class="sidebar cell">
	<div class="bar">
		<div class="title">
			<i class="icon-tags"></i>
			<input class="search tag-search" type="text" placeholder="Search tags"></input>
		</div>
	</div>

	<div class="scroll-y">
		<ul class="tags">
			<% Tag.all.sort{|a,b| a.name <=> b.name}.each do |tag| %>
				<li><span class="right radius secondary label"><%= tag.equipment.count %></span><span class="name"><%= tag.name %></span></li>
			<% end %>
		</ul>
	</div>
</div>

<div class="main cell">
	<div class="bar">
		<div class="title">
			<i class="icon-calendar"></i>
			<input class="date" type="date"></input>
		</div>
		<div class="subtitle filters-container">
			<ul class="filters">
			</ul>
		</div>
	</div>

	<div class="scroll-y">
		<div class="cards">
			<% @equipment.each do |equipment| %>
				<%=render 'equipment/card', :equipment => equipment %>
			<% end %>
		</div>
	</div>

	<div class="booking bar">
		<a class="button">Book <span class="booking-count">1</span> items</a>
		<a class="button booking-clear right">Cancel</a>
	</div>
</div>
