<div class="sidebar cell">
	<div class="title">
		<i class="icon-tags"></i>
		<input class="search tag-search" type="text" placeholder="Search tags"></input>
	</div>
	<ul class="tags">
		<% Category.all.sort{|a,b| a.name <=> b.name}.each do |category| %>
			<li><span class="right radius secondary label">10</span><%= category.name %></li>
		<% end %>
	</ul>
</div>

<div class="main cell">
	<div class="title">
		<i class="icon-calendar"></i>
		<input class="date" type="date"></input>
	</div>
	<div class="subtitle">
		<span class="filtersMessage">Select tags from the left</span>
		<ul class="filters">
		</ul>
	</div>
	<div class="cards">
		<% @equipment.each do |equipment| %>
			<%=render 'equipment/card', :equipment => equipment %>
		<% end %>
	</div>
</div>
