<div class="row">
  <div class="small-12 columns">
    <h1>
      Bookings
    </h1>

    <table>
      <tr>
        <th>ID</th>
        <th>User</th>
        <th>Booked by</th>
        <th>Updated</th>
      </tr>

    <% @bookings.each do |booking| %>
      <tr>
        <td><%= link_to booking.id, edit_booking_path(booking), :class => 'modal' %></td>
        <td><%= User.find_by_id(booking.user_id).username %></td>
        <td><%= booking.creator %></td>
        <td><%= booking.updated_at.to_date %>
      </tr>
    <% end %>
    </table>
  </div>
</div>
