<div id="legend">
	<div class="small-3 columns" style="background:#3366ff">Active</div>
	<div class="small-3 columns" style="background:#9933cc">Upcoming</div>
	<div class="small-3 columns" style="background:#00aa22">Finished</div>
	<div class="small-3 columns" style="background:#dd0000">Overdue</div>
</div>