<nav class="top-bar">
	<ul class="title-area">
    	<li class="name"><h1><%= link_to 'MAD Booking', '/' %></h1></li>
		<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  	</ul>
	<section class="top-bar-section">
		<ul class="right">
			<li><%= link_to 'Contact us', '/contact' %></li>
		</ul>
	</section>
</nav>