<nav class="top-bar">
	<ul class="title-area">
    	<li class="name"><h1><%= link_to 'MAD Booking', '/' %></h1></li>
		<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  	</ul>
	<section class="top-bar-section">
		<ul class="right">
			<li class="has-dropdown"><a href="#">Users</a>
				<ul class="dropdown">
					<li><%= link_to 'List', users_path, :class => 'modal' %></li>
					<li><%= link_to 'New', new_user_path, :class => 'modal' %></li>
				</ul>
			</li>
			<li><%= link_to 'Equipment', '/equipment' %></li>
		</ul>
	</section>
</nav>

