<div class="search row collapse">
	<div class="small-2 columns">
		<span class="prefix">
			<i class="icon-search"></i>
		</span>
	</div>
	<div class="small-10 columns">
		<%= text_field_tag :equipment, nil, :class => 'equipsearch', :placeholder => 'Search equipment' %>
	</div>
</div>