<ul class="list tags">
	<% Category.all.sort{|a,b| a.name <=> b.name}.each do |category| %>
		<li><span class="right radius secondary label">10</span><span class="name"><%= category.name %></span></li>
	<% end %>
</ul>