<h1>MAD Equipment</h1>

<div>
	<ul>
		<% for equip in Equipment.find(:all) %>
			<li>
				<%= link_to equip.name, "#", :onclick => "reloadCalendar([#{equip.id}])" %>
			</li>
		<% end %>
			<li>
				<%= link_to "All equipment", "#", :onclick => "reloadCalendar()" %>
			</li>
	</ul>
</div>




<%= content_tag "div", id:"calendar" do %>
	
<% end %>
