<br />
<div class="row">
	<div class="small-12 large-3 columns">
		<%= render 'shared/equipment_list' %>
		
		<div class="section-container accordion" data-section="accordion">
			<section>
				<p class="title" data-section-title>
					<a href="#">
						<span class="label radius right">3 items</span>
						Booking details
					</a>
				</p>
				<div class="content" data-section-content>
					<ul class="side-nav">
						<li>
							<a class="label radius secondary right">x</a>
							Item 1
						</li>
						<li>
							<a class="label radius secondary right">x</a>
							Item 2
						</li>
						<li>
							<a class="label radius secondary right">x</a>
							Item 3
						</li>
					</ul>
					<a class="button expand book modal" href="bookings/new">Book 3 items</a>
				</div>
			</section>
		</div>
	</div>
	<div id="calendar" class="small-12 large-6 columns">
		<%= link_to "Show all equipment", "#", :onclick => "reloadCalendar()" %>
	</div>
	<div class="small-12 large-3 columns">
		<div class="section-container accordion" data-section="accordion">
			<section>
				<p class="title" data-section-title>
					<a href="#">
						<span class="label radius right">3</span>
						Upcoming bookings
					</a>
				</p>
				<div class="content" data-section-content>
					<ul class="side-nav">
						<li>
							<span class="right">12:00</span>
							Booking 1
						</li>
						<li>
							<span class="right">1:00</span>
							Booking 2
						</li>
						<li>
							<span class="right">2:30</span>
							Booking 3
						</li>
					</ul>
				</div>
			</section>
		</div>
		<div class="section-container accordion" data-section="accordion">
			<section>
				<p class="title" data-section-title>
					<a href="#">
						<span class="label radius right">3</span>
						Upcoming returns
					</a>
				</p>
				<div class="content" data-section-content>
					<ul class="side-nav">
						<li>
							<span class="right">4:30</span>
							Return 1
						</li>
						<li>
							<span class="right">5:00</span>
							Return 2
						</li>
						<li>
							<span class="right">11:00</span>
							Return 3
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</div>