<h1>MAD Equipment</h1>

<hr />

<div class="row">
	<div class="large-4 columns">
		<div class="panel">
			<ul class="side-nav">
				<% for equip in Equipment.find(:all) %>
					<li>
						<%= link_to equip.name, "#", :onclick => "reloadCalendar([#{equip.id}])" %>
					</li>
				<% end %>
					<li>
						<%= link_to "All equipment", "#", :onclick => "reloadCalendar()" %>
					</li>
			</ul>
		</div>
	</div>
	<div id="calendar" class="large-8 columns">
	</div>
</div>