<div class="row">
	<div class="small-12 columns">
		<h1>Bookings <%= link_to '[+]', new_booking_path %></h1>
	</div>
</div>

<div class="row">
	<div class="small-12 large-3 columns">
		<%= render 'shared/equipment_list' %>
	</div>
	<div id="calendar" class="small-12 large-9 columns">
	</div>
</div>