#This is a sample email configuration
#This needs to be updated to a real mailservices username/password for email functionality to work

mail_username: ADD_VALID_EMAIL_USER_HERE
mail_password: ADD_VALID_EMAIL_PASSWORD_HERE
