// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// the compiled file.
//
// WARNING: THE FIRST BLANK LINE MARKS THE END OF WHAT'S TO BE PROCESSED, ANY BLANK LINE SHOULD
// GO AFTER THE REQUIRES BELOW.
//
//= require jquery
//= require jquery.ui.all
//= require jquery.timepicker.js
//= require jquery_ujs
//= require foundation
//= require fullcalendar
//= require home
//= require barcode_listener
//= require twitter/typeahead

function initializeComponents($container) {
	$container.find('input.date').datepicker();
	$container.find('input.time').timepicker({
		'timeFormat' : 'h:i A'
	});
	
	$container.foundation('section', 'reflow');
	
	$('li > a.remove').click(function() {
		$(this).parent().remove();
	});
}

$(function() {
	initializeComponents($('body'));
	
	/* Search */

	var $search_input = $('.usersearch')
	$search_input.typeahead([
		{
			name: 'name', 
			local: <%= User.select('distinct username').collect { |user| user.username } %>,
			header: '<h5>Username</h5>'
		}
	]);

	$search_input.on('usersearch:selected', function() {
		$(this).closest('form').submit();
	});
	
	/* Modals */
	
	var $modalContainer = $("#modalContainer");
	
	$modalContainer.on('opened', function () {
	  $(this).foundation('section', 'reflow');
	});
	

	$('#createBooking').click(function(){
		
		if ($(this).hasClass('disabled')) return;
		
		var $items = $('#equipmentList').find('.equipCheck:checked')
		var equip_ids = [];
		
		$items.each(function(index) {
			equip_ids.push(this.value);
		});
		
		$modalContainer.foundation('reveal', 'open', {
			url: 'bookings/new',
			data: {
				ids : equip_ids
			},
			complete: function() {
				initializeComponents($modalContainer);
				$modalContainer.find('p.title').trigger('click'); //force accordion open
			}, 
			error: function() {
				alert('loading error');
			}
		}); 
	});
	
	/* Equipment List */
	
	var $equipmentList = $("#equipmentList");
	var $createBooking = $("#createBooking");
	
	$('.equipCheck').click(function(){
		var count = $equipmentList.find('.equipCheck:checked').length;
		if (count > 0) {
			$createBooking.removeClass('disabled');
			$createBooking.html('Book ' + count + ' items');
		}
		else {
			$createBooking.addClass('disabled');
			$createBooking.html('No items selected');
		}
	});
	
});

$(document).ready(function() {
	var chars = [];
	var barcode = "";
	$(window).keypress(function(e) {
		barcode += String.fromCharCode(e.which);
		if (e.which === 13) {
			if ($("#bc_out_" + barcode).length > 0) {
				$("#bc_out_" + barcode)[0].value = $("#bc_out_" + barcode).attr('data');
				$("#status_" + barcode).attr('class','round label')
				$("#status_" + barcode)[0].innerHTML = "Signing Out"
			} 
			else if ($("#bc_in_" + barcode).length > 0) {
				$("#bc_in_" + barcode)[0].value = $("#bc_in_" + barcode).attr('data');
				$("#status_" + barcode).attr('class','round success label')
				$("#status_" + barcode)[0].innerHTML = "Signing In"
			} else {
				alert("Item with barcode " + barcode + " not found for sign in/out.");
			}

			barcode = "";
		}
	});
});

$(document).foundation();
