/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require jquery.timepicker.css
 *= require_tree .
 *= require recurring_select
*/

html, body {
	min-height:600px;
}

/* MISC */

.active:not(.tab) {
	background:#eef !important;
}

.good {
	color:#62DB36;
}

.bad {
	color:#c00;
}

li .label {
	top:3px;
	margin:0 0 0 7px;
}

/* FILTERS */

.filters-container {
	display:none;
	padding-bottom:0 !important;
	padding:15px;
	padding-bottom:0;
	background:#fff !important;
	box-shadow: 0 2px 4px -2px rgba(0,0,0,0.3);
}

.filters {
	margin:0;
}

.filters li {
	display:inline-block !important;
	margin:0 7.5px 7.5px 0;
	padding:3px 7px;
	border:1px solid rgba(0,0,0,0.2);
	opacity:0.8;
	background:#fff;
}

.filters li:last-child {
	margin-bottom:15px;
}

.filters li:hover {
	opacity:1;
}

.filters .remove {
	padding-left:4px;
}

/* BOOKING BAR */

.booking {
	/*box-shadow: 0 -2px 4px -2px rgba(0,0,0,0.5) !important;*/
	display:none;
	width:400px;
}

.booking .button {
	margin:0;
}

/* Booking Form */

.booking-form {
	padding:15px;
}

/* BUTTONS */

.button.action {
	padding:0.3em 0.5em;
	margin:0;
}

.inactive {
	opacity:0.6;
}

/* NAVIGATION */

#views {
	width:500px;
	background:#000;
}

#views .columns > label {
	color:#fff;
	padding:0;
	background:none;
}

#views .switch label {
	background:none;
}

/* FONTS */

.muted {
	opacity:0.6;
}

a.label:hover {
	color:#fff;
}

.gt {
	padding:0 4px;
}

#mad h1 > a.button, #mad h2 > a.button, #mad h3 > a.button {
	padding:0.05em 0.2em;
	font-size:100%;
	margin-bottom:0;
}

/* FORMS */

#mad input, #mad .prefix, #mad .postfix, #mad textarea, #mad select {
    /*font-size:115%;*/
}

#mad textarea {
	min-height:100px;
}

#mad .field_with_errors > * {
	border:1px solid #970b0e;
}

#mad select {
	-webkit-appearance:none !important;
	border:1px solid #cccccc;
	border-radius:0;
	-webkit-border-radius:0;
	padding:0.5em;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	height:2.95em;
	background-image:url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==');
	background-repeat:no-repeat;
	background-position:97% center;
}

/* ALERTS */

.alert-box ul:last-child {
	margin-bottom:0;
}

/* TABLES */

table {
	width:100%;
}

th {
	text-align:left;
}

td.actions {
	text-align:right;
}

table .inline-list, table .inline-list li:first-child {
	margin:0;
}

/* ACCORDION */

#mad section.selected p.title {
	background:#e1f5d1;
}

#mad .accordion .label {
	display:inline-block;
	padding:3px 6px;
	font-size:110%;
	margin:0;
}

#mad .accordion .label .right, #mad .accordion .right input {
	margin-left:10px;
}

#mad .accordion .label .left, #mad .accordion .left input {
	margin-right:10px;
}

#mad .accordion .label * {
	margin:0;
	padding:0;
}

.accordion input[type=checkbox] {
	font-size:115%;
}

.accordion .side-nav li {
	border-bottom:1px solid #ddd;
	padding-bottom:7px;
}

.accordion .side-nav li:last-child {
	border:none;
	padding-bottom:0;
}

.accordion a.book {
	padding-bottom:12px !important; /* glitch fix */
}

/* TYPEAHEAD */

.twitter-typeahead {
	width:100%;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 30px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.twitter-typeahead h5 {
	padding-left:10px;
}

.tt-query {
  -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 100%;
margin-top:-15px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);

  -webkit-box-shadow: 0 0px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 0px 10px rgba(0,0,0,.2);
          box-shadow: 0 0px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
