/* CALENDAR */

#legend {
	color:#fff;
	margin-bottom:63px;
}

#legend > div {
	padding:14px;
	border-left:2px solid #fff;
	border-right:2px solid #fff;
	border-radius:5px;
}

#mad #calendar-container {
	position:relative;
}

#mad #calendar-loading {
	z-index:999;
	position:absolute;
	width:80px;
	height:99px;
	top:50%;
	left:50%;
	margin:-50px 0 0 -40px;
	opacity:0;
	transition:all 0.25s;
}

#mad #calendar {
	font-size:120%;
	line-height:1.1em;
}

#mad .fc-header {
	border:none;
	margin-bottom:0.7em;
}

#mad #calendar th {
	padding:5px;
}

#mad #calendar a {
	color:#fff;
}

#calendar h2 {
	font-size:130%;
}

#mad .fc-event {
	margin:5px 5px 0 5px;
}

#mad .fc-event .list {
	border-top:1px solid rgba(255,255,255,0.4);
	margin-top:5px;
	padding-top:5px;
}

#mad .fc-event-time {
	padding: 5px 8px 5px 5px;
	display:inline-block;
	font-weight:normal;
	background-color:rgba(0,0,0,0.2);
}

#mad .fc-event-title {
	padding:5px;
}

#mad .fc-view-month .fc-event {
	overflow:hidden;
	white-space: nowrap;
	margin:0 5px 5px 5px;
}

#mad .fc-view-month .fc-event .fc-event-title {
	display:inline-block;
	padding:5px;
}

#mad .fc-view-month .fc-event .fc-event-time {
	border-right:1px solid rgba(255,255,255,0.4);
}

#mad .fc-view-month .fc-event .list {
	display:none;
}

#mad .fc-view-basicWeek .fc-event-time, #mad .fc-view-agendaDay .fc-event-time {
	border-bottom: 1px solid rgba(255,255,255,0.4);
	display:block;
	font-size:inherit;
}

#mad .fc-view-basicWeek .fc-event-title, #mad .fc-view-agendaDay .fc-event-title {
	padding:5px;
	display:block;
}

/* CALENDAR CONTENT */

#mad #calendar ul {
	margin:0;
	padding:0;
	list-style-type:circle;
}

#mad #calendar li {
	white-space: nowrap;
}