// Place all the styles related to the Equipment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section .content {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	display:none;
}