/* LISTS */

.tags-container {
	padding-right:15px !important;
}

ul.list {
	margin:0;
	padding:0;
	list-style-type:none;
}

ul.list li {
	padding:7px 15px;
	border-bottom:1px solid #ddd;
	cursor:pointer;
	line-height:1.5 !important;
}

ul.list li:hover {
	opacity:1;
	background:rgba(0,0,0,0.05);
}